
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sorry, but we'are closing this application, please contact us if you want to know more ! <%= @email %> </h1>
  </body>
</html>