<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %> you have received attached one of the most underrated songs from Vampire Weekend</h1>
    
    <p>
    Listen it here: <a href= <%= @song %> </a>White Sky</a> <br>   
      Maybe you can consider listen more of this album, we'll contact you by this email: <%= @user.email %>.<br>
    </p>
    <p>
      To request that, visit: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>